@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Access denied";
}

<h1 class="text-2xl font-semibold mb-2 text-error">Access denied</h1>
<p class="mb-4">You do not have permission to access this resource.</p>
<a href="/" class="btn">Go back home</a>